<h2 class="title">Awesome ASCII spinner welcomes you</h2>

<div class="spinners">
  <div class="spinner-block">
    <strong>dots</strong> {{ascii-spinner spinner='dots'}}
  </div>
  <div class="spinner-block">
    <strong>dots2</strong> {{ascii-spinner spinner='dots2'}}
  </div>
  <div class="spinner-block">
    <strong>line</strong> {{ascii-spinner spinner='line'}}
  </div>
  <div class="spinner-block">
    <strong>star</strong> {{ascii-spinner spinner='star'}}
  </div>
  <div class="spinner-block">
    <strong>arrow3</strong> {{ascii-spinner spinner='arrow3'}}
  </div>
  <div class="spinner-block">
    <strong>smiley</strong> {{ascii-spinner spinner='smiley'}}
  </div>
  <div class="spinner-block">
    <strong>runner</strong> {{ascii-spinner spinner='runner'}}
  </div>
  <div class="spinner-block">
    <strong>earth</strong> {{ascii-spinner spinner='earth'}}
  </div>
  <div class="spinner-block">
    <strong>custom</strong> {{ascii-spinner custom='⠁ ⠂ ⠄ ⡀ ⢀ ⠠ ⠐ ⠈'}}
  </div>
</div>
