<h2 class="title">Awesome ASCII spinner welcomes you</h2>

<div class="spinners">
  <div class="spinner-block">
    <strong>braille</strong> {{ascii-spinner spinner='braille'}}
  </div>
  <div class="spinner-block">
    <strong>braille-dots</strong> {{ascii-spinner spinner='braille-dots'}}
  </div>
  <div class="spinner-block">
    <strong>strokes</strong> {{ascii-spinner spinner='strokes'}}
  </div>
  <div class="spinner-block">
    <strong>balls</strong> {{ascii-spinner spinner='balls'}}
  </div>
  <div class="spinner-block">
    <strong>bars</strong> {{ascii-spinner spinner='bars'}}
  </div>
  <div class="spinner-block">
    <strong>blocks</strong> {{ascii-spinner spinner='blocks'}}
  </div>
  <div class="spinner-block">
    <strong>pattern-block</strong> {{ascii-spinner spinner='pattern-block'}}
  </div>
</div>
